.currency-converter {
    max-width: 400px;
    /* margin: 0 auto; */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.currency-converter form {
    display: flex;
    flex-direction: column;
}

.currency-converter label {
    margin: 10px 0 5px;
    font-weight: bold;
}

.currency-converter .form-select,
.currency-converter .form-control {
    margin-bottom: 15px;
}

.currency-converter h4 {
    text-align: center;
    color: #333;
}
